@import "constantes.css";
@import "global.css";
@import "header.css";
@import "piedepagina.css";
@import "seccion-sobre-me.css";
@import "seccion-proyectos.css";

main {
    flex: 1 1 auto;
    color: var(--fuente-primario);
    background-color: var(--primario);
}
