
*, ::before, ::after {
    box-sizing: border-box;
}
html {
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -moz-tab-size:4;
    tab-size:4;
    font-family: Figtree, sans-serif;
    font-feature-settings:normal
}
body {
    position: relative;
    display: flex;
    flex-direction: column;        
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}
a, a:visited, a:active {
    color: inherit  /* var(--fuente-primario); */
}