.seccion__about-me{
    display: grid;
    align-items: center;
    justify-items: center;
    height: calc(100vh - 60px);
    padding: 2em;
    max-height: 400px;
    color: var(--fuente-primario);
    /* background-image: url("/resources/images/blue-bg.jpg"); */
    background-color: var(--primario);
    background-size: cover;

    & .seccion__contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
    }
    & .seccion__foto-perfil{
        border-radius: 50%;
        max-width: 200px; 
        object-fit: contain;
    }
    & .about-me__title { 
        font-size: 240%;
        letter-spacing: 1pt;
        margin: 0;
    }
    & .about-me__subtitle{
        font-size: 150%;
        margin-bottom: 1em;
    }
    & .seccion__about-me__social-container{
        display: flex;
        gap: 0.6em; 
        padding-right: 0.3em;
        & i{
            padding-right: 0.3em;;

        }
    }
} 

@media (max-width: 992px) {
    .seccion__contenedor{
        flex-direction: column;
    }
}

.seccion__projects{
    height: 100vh;
    max-height: 800px;
    background-image: url("/resources/images/white-bg.jpg");
    background-color: var(--primario);;
    background-size: cover;
} 