.seccion__proyectos{
    /* height: calc(100vh - 60px); */
    color: var(--fuente-secundario);
    padding: 2em;
    background-image: url("/resources/images/white-bg.jpg");
    background-size: cover;
    
    & .seccion__contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
    }

} 
.proyectos__tarjeta{
    display: flex;
    flex-direction:column;
    flex: 0 0 auto;
    width: 300px;
    height: 250px;
    padding: 0.5em;
    background-color: var(--black-russian-50);
    
    & .proyectos__imagen-tarjeta{
        display: inline-block;        
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: top left;
    }
}